@charset "ISO-8859-1";
.header {
	background-color:#283747;
	width:100%;
	height:80px;
	display:block;
}

.menu1 {
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
  
}

.menu2 {
  float:left;
  color:red;
  font-size:50px;
  font-weight:bold;
}

.menu3 {
  float: right;
}

.menu4{
  display: block;
  color: white;
  font-family:calibri;
  font-size:15px;
  padding: 30px 30px;
  text-decoration: none;
}

.active1 {
  display: block;
  color: white;
  text-align: center;
  font-family:calibri;
  font-size:15px;
  padding: 30px 30px;
  text-decoration: none;
  background-color:grey;
  border-radius:4px
}

li a:hover {
  background-color: grey;
  border-radius:4px
}





.body{
		margin: 0;
    padding: 0;
    background-image:url("../images/background.jpg") ;
   	background-size: cover;
  	background-position: center;
    font-family: sans-serif;
    background-repeat:no-repeat;
}
.onform{
	background:#111;
	color: #fff;
	height:450px;
	border-radius:10px;
	border: 3px solid #403d43;
	padding:30px;
	margin:170px auto;
	width:800px;
}
.inform{
	
	top:5px;
	position: relative;
    margin:  auto;
    text-align:center;
    width:300px;
	
}
input{
  outline: 0 !important;
  background:transparent;
  border-color:brown !important;
  margin: 0 auto;
  width:250px;
  color:red;
  
  
}
h2{
	background:transparent;
	font-family:Verdana, Arial, Helvetica ;
	color: #f1efeb;
	font-weight: 10;
	width:300px;
	text-align:center;
}
select{
	
	width:170px;
	background:#222;
	font-family: "Montserrat";
	color:#eee;
	 border-color:brown !important;
}

button{
	
    
	background:transparent;
	font-color:white;
	width: 300px;
	height: 21px;
	font-family: "Montserrat";
	border: 1px solid #eee;
	position: relative;
	color:#eee;
	margin-top: 18px;
	text-align:center;
	font-weight:bold;
	cursor:pointer;
	border-radius: 10px;
	
}
button:hover{
	background:brown;
	border:none;
	transition: all 1.5s ease;
}





/*footer*/

footer {
	width: 100%;
	height: 300px;
	font-family:calibri;
	background-color: #283747  ;
}

.logo1{
	height: auto;
	width: 200px;
	padding: 23px 0px 100px 8px;
}

.logo2{
	height: auto;
	width: 200px;
	padding: 23px 0px 100px 20px;
}

.logo3{
	height: auto;
	width: 50px;
	padding: 23px 0px 100px 20px;
}

.logo4{
	height: auto;
	width: 50px;
	padding: 23px 0px 100px 20px;
}

.logo5{
	height: auto;
	width: 50px;
	padding: 23px 0px 100px 20px;
}

.logo6{
	height: auto;
	width: 50px;
	padding: 23px 0px 100px 20px;
}

.p2 {
	font-size: 18px;
	color: white;
	font-family: calibri;
	float:right;
}



































.footer {
	width: 100%;
	height: 100px;
	font-family:calibri;
}

.logo1{
	height: auto;
	width: 200px;
	padding: 23px 0px 100px 8px;
}

.logo2{
	height: auto;
	width: 200px;
	padding: 23px 0px 100px 20px;
}

.logo3{
	height: auto;
	width: 50px;
	padding: 23px 0px 100px 20px;
}

.logo4{
	height: auto;
	width: 50px;
	padding: 23px 0px 100px 20px;
}

.logo5{
	height: auto;
	width: 50px;
	padding: 23px 0px 100px 20px;
}

.logo6{
	height: auto;
	width: 50px;
	padding: 23px 0px 100px 20px;
}

.p2 {
	font-size: 18px;
	color: white;
	font-family: calibri;
	float:right;
}
